<!-- home.component.html -->
<div class="container">
    <header>
      <h1>Online Ticket Booking</h1>
    </header>
    <main>
      <section class="hero">
        <div class="hero-content">
          <h2>Welcome to our Online Ticket Booking System</h2>
          <p>Discover the latest movies and book your tickets online.</p>
          <div class="buttons">
            <button class="btn" (click)="navigateToLogin()">Login</button> <br>
            <button class="btn" (click)="navigateToRegister()">Register</button>
          </div>
        </div>
      </section>
      <section class="features">
        <!-- Your feature section content here -->
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Online Ticket Booking System. All rights reserved.</p>
    </footer>
  </div>

  
  
  